doctype html
html(lang='en')
	head
		title Recalculate to standard setting
		meta(charset='utf-8')
		link(rel='stylesheet', href="https://unpkg.com/purecss@2.0.3/build/pure-min.css", integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ", crossorigin="anonymous")
		link(rel='stylesheet', href="css/styles.css")
		script(src='client.js')
	body
		div#main
			div#scoreForm.form
				h3 Recalculate the scores to standard setting
				form#resultForm.form-example.pure-form.pure-form-aligned
					div.pure-control-group
						label(for='course') course ID:
						input(type='text', id='course', name='course', required, minlength='4', maxlength='8', size='10')
					div.pure-control-group
						label(for='assignment') quiz or assignment ID:
						input(type='text', id='assignment', name='assignment', required, minlength='1', maxlength='8', size='10')
					div.pure-control-group
						label(for='puntentotoaal') gewenste punten:
						input(type='text', id='puntentotaal', name='puntentotaal', required, minlength='1', maxlength='8', size='10')
					div.pure-control-group
						label(for='olodselect') kies (s/e)olod:
						select(name='olodselect', id='olodselect')
							option(value='olod') olod
							option(value='dolod') dolod
							option(value='eolod', selected) eolod
					div.pure-control-group
						label(for='mcselect') kies (s/e)olod:
						select(name='mcselect', id='mcselect')
							option(value='') kies MC #:
							option(value='MC3') MC3
							option(value='MC4', selected) MC4
					div.pure-control-group
						label(for='typeselect') Quiz or Assignment:
						select(name='typeselect', id='typeselect')
							option(value='') kies een optie:
							option(value='quiz') Quiz
							option(value='assignment')  Assignment
					div.pure-controls
						button#resultSubmit.pure-button.pure-button-primary(type='submit') Submit
			div#progress-part
				label(for="progress") Progress:
				progress#progress(max="100", value="0")
			div#result-buttons
				a.pure-button.pure-button-primary(id="downloadLink", href="/download", download) Download Excel
				a.pure-button.pure-button-primary(id="refreshLink", href="/start") Calculate other scores
				


